.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  width: 150px;
  /* background-color: #C0C0C0; */
  color: #C0C0C0;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  opacity: 1;
  font-size: 10pt;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 105%;
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */
